.wildlife {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--green-color);
  height: 100vh;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: 150px;
  width: 80%;
  justify-content: center;
}

.title {
  font-size: 45px;
  font-weight: 300;
  justify-self: center;
  align-self: center;
}

.icon {
  color: var(--green-color);
  font-size: 66px;
  margin: 0px 25px 50px 25px;
  padding-left: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 10px;
  width: 30%;
  align-items: end;
}

.dropdown,
.textfield {
  width: 100%;
}

.saveButton {
width: 100%;
}

.imagePlaceholder {
  width: 300px;
  height: 300px;
  background-color: #ccc;
  margin-top: 20px;
}
