.button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  justify-self: center;
  border-radius: 15px;
  height: 50px;
}

/* Personalized Colors */
.green {
  background: var(--green-card-color);
  color: var(--white-color);
  width: 100%;
}
