.filterContainer {
  display: flex;
  padding: 10px 0px 10px 0px;
}

.filterButton {
  background-color: var(--textfield-background-color);
  border-radius: 5px;
  color: var(--black-color);
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  margin-right: 10px;
}

.filterButton:active,
.filterButton.active {
  background-color: var(--darker-purple-color);
}
