.searchField {
  background-color: var(--textfield-background-color);
  border-radius: 10px;
  color: var(--white-color);
}

.icon {
  color: var(--white-color);
}

.searchField input {
  color: var(--searchfield-gray-color);
}

.searchField input::placeholder {
  color: var(--searchfield-gray-color);
}
