.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green-color);
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

.logo {
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.title {
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 110px 0px 20px 0px;
  align-self: center;
  color: var(--white-color);
}

.nav {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.resources h2 {
  margin-bottom: 10px;
}
