.cardContainer {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card {
  background-color: var(--green-card-color);
  color: var(--white-color);
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  min-width: 150px;
  background-color: var(--green-card-color);
}

.title {
  font-size: 25px;
}

.right {
  position: absolute;
  right: 231px;
  top: 492px;
  z-index: 100;
  rotate: -4deg;
}

.left {
  position: absolute;
  left: 20%;
  top: 420px;
  z-index: 100;
}

@media (max-width: 768px) {
  .left {
    left: 100px;
  }
  .right {
    top: 540px;
    left: 340px;
  }
}
